node_modules/
dist/
.parcel-cache/
.cache/
*.log

.env
.env.*
.vscode/
.DS_Store
Thumbs.db

.venv/
venv/
__pycache__/
*.pyc

.ipynb_checkpoints/

*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.out
*.toc
*.synctex.gz
*.synctex.gz(busy)
*.pdf
*.dvi
*.ps
*.lof
*.lot
*.nav
*.snm

*.zip